<!-- contact-form start -->
<section class="contact-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Write something</div>
            <hr>
            <form onsubmit="validateAllContact(event)" novalidate>
                <div class="grid">
                    <div class="col name">
                        <label>Your Name*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="col email">
                        <label>Your E-mail*</label>
                        <input type="email" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="col phone-number">
                        <label>Phone Number*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="col company">
                        <label>Company (optional)</label>
                        <input type="text" />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                </div>

@*                <input asp-for="Email" onkeyup="validateInput(event)" id="login-email" required />
                <span asp-validation-for="Email" id="login-email-span" class="error-text"></span>
                <div id="login-email-error" class="error-text"></div>*@

                <div class="text-area">
                    <label>Write something*</label>
                    <textarea required></textarea>
                    <div class="error-msg">Something went wrong!</div>
                </div>

                @* DONT HAVE FUNCTIONALITY YET!
                <label class="custom-checkbox">
                    Save my name, email, and website in this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>*@

                <button class="btn-theme" type="submit">Submit</button>
                <div id="form-error" class="error-text mt-2"></div>

            </form>
        </div>
    </div>
</section>
<!-- contact-form end -->