@{
    var viewModel = new ContactsIndexViewModel
    {
        ContactHero = new HeroModel
        {
            Heading = "CONTACT",
            Subheading = "HOME. CONTACT"
        }
    };
}

<!-- hero start -->
<section class="hero">
    <div class="container-fluid">
        <div class="shop-heading">
            @viewModel.ContactHero.Heading<br><span>@viewModel.ContactHero.Subheading</span>
        </div>
    </div>
</section>
<!-- hero end -->