<div class="container mt-4">
	<a class="btn-theme" asp-controller="products" asp-action="list">PRODUCT LIST</a>
	<a class="btn-theme" asp-controller="products" asp-action="register">REGISTER PRODUCT</a>
</div>