<!-- product-details start -->
<section class="product-details">
    <div class="container">
        <div class="grid">
            <div class="big-img">
                <div class="img-holder">
                    <img src="/images/shoes.jpg" />
                    @*<img src="https://images.pexels.com/photos/37539/colored-pencils-colour-pencils-mirroring-color-37539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    @*<img src="https://images.pexels.com/photos/159821/pencils-colored-drawing-school-159821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                </div>
            </div>
            <div class="small-img">
                <div class="img-holder">
                    @*<img src="https://images.pexels.com/photos/159821/pencils-colored-drawing-school-159821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    @*<img src="https://images.pexels.com/photos/37539/colored-pencils-colour-pencils-mirroring-color-37539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    <img src="/images/shoes-small.jpg" />
                </div>
                <div class="img-holder">
                    @*<img src="https://images.pexels.com/photos/159821/pencils-colored-drawing-school-159821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    @*<img src="https://images.pexels.com/photos/37539/colored-pencils-colour-pencils-mirroring-color-37539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    <img src="/images/shoes-small.jpg" />
                </div>
                <div class="img-holder">
                    @*<img src="https://images.pexels.com/photos/159821/pencils-colored-drawing-school-159821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    @*<img src="https://images.pexels.com/photos/37539/colored-pencils-colour-pencils-mirroring-color-37539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    <img src="/images/shoes-small.jpg" />
                </div>
                <div class="img-holder">
                    @*<img src="https://images.pexels.com/photos/159821/pencils-colored-drawing-school-159821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    @*<img src="https://images.pexels.com/photos/37539/colored-pencils-colour-pencils-mirroring-color-37539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />*@
                    <img src="/images/shoes-small.jpg" />
                </div>
            </div>
            <div class="product-text">
                <div class="product-name">Young Star Smart Shoe in Fashion</div>
                <div class="product-description">Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
                <hr>
                <div class="review">
                    <div class="star-holder">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a class="link review-count" href="#">16 reviews</a>
                    @*<a class="link review-count" asp-controller="products" asp-action="reviews">16 reviews</a>*@
                </div>
                <div class="product-price">$30</div>
                <div class="btn-holder">
                    <div class="qty-counter">
                        <button class="minus-btn">-</button>
                        <div class="qty">1</div>
                        <button class="plus-btn">+</button>
                    </div>
                    <button class="btn-theme">Add to Cart <i class="fa-regular fa-cart-plus"></i></button>
                </div>
                <div class="d-flex">
                    <div class="in-stock-indicator">
                        <div class="out-of-stock circle"></div>
                        <div class="few-in-stock circle"></div>
                        <div class="in-stock circle"></div>
                    </div>
                    <div class="product-sku">SKU: N/A</div>
                </div>
                <button class="btn-white">Add to wishlist</button>
                <div class="product-category">Category: Table Lamp, Light</div>
            </div>
        </div>
    </div>
</section>
<!-- product-details end -->
