<div class="container mt-4">
	<a class="btn-white" asp-controller="products" asp-action="list">SEE PRODUCT LIST</a>
	<a class="btn-white" asp-controller="products" asp-action="register">REGISTER PRODUCT</a>
</div>