<!-- register-form start -->
<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Please Register Your new Account</div>
            <hr>
            <form>
                <div class="line grid">
                    <div class="column">
                        <label>First Name*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="column">
                        <label>Last Name*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                </div>

                <div class="line">
                    <label>Street Name*</label>
                    <input type="text" required />
                    <div class="error-msg">Something went wrong!</div>
                </div>

                <div class="line grid">
                    <div class="column">
                        <label>Postal Code*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="column">
                        <label>City*</label>
                        <input type="text" required />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                </div>

                <div class="line grid">
                    <div class="column">
                        <label>Mobile (optional)</label>
                        <input type="text" />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                    <div class="column">
                        <label>Company (optional)</label>
                        <input type="text" />
                        <div class="error-msg">Something went wrong!</div>
                    </div>
                </div>

                <div class="line">
                    <label>E-mail*</label>
                    <input type="email" required />
                    <div class="error-msg">Something went wrong!</div>
                </div>

                <div class="line">
                    <label>Password*</label>
                    <input type="password" required />
                    <div class="error-msg">Something went wrong!</div>
                </div>

                <div class="line">
                    <label>Confirm Password*</label>
                    <input type="password" required />
                    <div class="error-msg">Something went wrong!</div>
                </div>

                <div class="line">
                    <label>Upload Profile Image (optional)</label>
                    <input type="file" accept="image/*" />
                    <div class="error-msg">Something went wrong!</div>
                </div>

                <label class="custom-checkbox">
                    I have read and accepts the terms and agreements
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>

                <button class="btn-theme" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<!-- register-form end -->