<!-- subscribe-form start -->
<section class="subscribe-form">
    <div class="container">
        <form class="content" novalidate>
            <input type="text" placeholder="Enter your mail here" />
            <button class="btn-theme" type="submit">SUBSCRIBE FOR NEWSLETTER</button>
            <div class="error-msg">Something went wrong!</div>
        </form>
    </div>
</section>
<!-- subscribe-form end -->