@{
    var products = await productService.GetAllAsync();
}

<partial name="/Views/Partials/_ProductHeader.cshtml" />

<!-- register-form start -->
<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Product List</div>
            <hr>
            <div class="mb-2">Here are the products in the database. Remove-btn, do not work.</div>
            @if (products != null)
            {
                foreach (var product in products)
                {
                    <div class="d-flex justify-content-between align-items-center bg-body-tertiary mb-2 ps-3 pe-1 py-1">
                        <div>
                            <span class="fw-bold">Id:</span> @product.Id ,
                            <span class="fw-bold">Name:</span> @product.Name ,
                            <span class="fw-bold">Price:</span>
                            @{
                                var price = (product.Price).ToString("0.00");
                            } 
                            @price 
                        </div>
                        <button class="btn-white" style="padding: 0.5rem;">X</button>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- register-form end -->