@{
    var products = await productService.GetAllAsync();
}

<partial name="/Views/Partials/_ProductHeader.cshtml" />

<!-- register-form start -->
<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Product List</div>
            <hr>
            <div>Here will the products in the database be rendered. Remove-btn, do not work atm.</div>
            @if (products != null)
            {
                foreach (var product in products)
                {
                    <div class="d-flex justify-content-between align-items-center bg-danger-subtle mb-2 ps-3 pe-1 py-1">
                        <div>Id: @product.Id , Name: @product.Name , Price: @{ var price = (product.Price).ToString("0.00"); } @price </div>
                        <button class="btn-white">X</button>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- register-form end -->