<partial name="/Views/Partials/_ProductHeader.cshtml" />

<!-- register-form start -->
<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Product List</div>
            <hr>
            <div>Here will the products in the database be rendered.</div>
        </div>
    </div>
</section>
<!-- register-form end -->